.cabecalho {
    background-color: var(--preto);
    color: var(--branco);
    width: 100vw;
    padding: 3%;
    font-family: var(--tiro-kannada);
}

.cabecalho__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.cabecalho__flex--titulo{
    font-size: 1.65rem;
    align-self: center;
    font-weight: bold;
    text-align: center;
}

.cabecalho__flex-nav {
    align-self: center;
}

.cabecalho__flex-nav-ul-li {
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
}

.cabecalho__flex-nav-ul-link {
    font-size: 1.2rem;
}

@media screen and (max-width: 374px) {
    .cabecalho__flex {
        flex-direction: column;
    }

    .cabecalho__flex--titulo {
        font-size: 1.4rem;
    }

    .cabecalho__flex-nav-ul-li {
        display: inline-block;
        margin-right: .15rem;
    }

    .cabecalho__flex-nav-ul-link {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1051px){
    .cabecalho__flex--titulo{
        font-size: 1.9em;
    }

    .cabecalho__flex-nav-ul-link{
        font-size: 1.45em;
    }
}
