.contato {
    background-color: var(--cinza-medio);
    width: 100vw;
}

.contato__titulo {
    line-height: normal;
    font-size: 8vw;

    text-align: center;

    font-weight: bold;

    padding: 7% 0 0 0;
}

.contato__info {
    margin-top: 7%;
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (min-width: 1051px){
    .contato__titulo{
        font-size: 8vw;
        line-height: normal;
    }
}
